/***GENERAL***/
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height 1.5;
    color: #303841;
    text-align: center;
    background-color: #EEEEEE;
    overflow-x: hidden;
    font-size: 1.2rem;
}


button{
    margin-top: 3rem;
    margin-bottom: 3rem;

}

hr {
    border: 0;
    height: 0;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #951818;
}


h1, h2, h3, h4, h5 {
    text-align: center;
    line-height 1.5;
    font-family: 'Montserrat', sans-serif;
    color: #303841;
    font-weight: 900;
    padding: 1rem;
}


/***NAVBAR***/
.navbar-style {
    background-color: #951818;
    height: 4rem;
}

.visible {
z-index: 999;
position: relative;
background-color: #951818;
}

.menu-item {
    margin-right: 40px;
}

.title {
    font-size: 1.8rem;
}

.navbar-icon {
    color: #EEEEEE;
    font-size: 1.8rem;
    padding: 1rem;
}

.navbar-icon:hover {
    transition: all 1s;
    font-size: 2.4rem;
}


/***VIDEO SECTION***/
.video-col {
    padding: 0 0 0 0;
}

video {
    position: relative;
    object-fit: cover;
    object-position: 0 10%;
    width: 100%;
    height: 50rem;
}

.welcome {
    position: absolute;
    top: 15%;
    left: 16%;
    color: white;
    text-align: left;
    font-weight: 900;
    line-height 1.5;
    font-size: 6rem;
}

/***ABOUT SECTION***/
.about-row {
    margin-top: 5rem;
}

.text-field {
    margin-top: 2rem;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

/***PICTURE SECTION***/
.picture-row {
    margin-top: 2rem;
}

.painting-image {
    border-radius: 1%;
    max-width: 45%;
    height: auto;
    box-shadow: 0 8px 12px #393E46;
}

.next-button{
    border-color: #951818 !important;
    color: #951818 !important;
}

.next-button:hover{
    background-color: #951818 !important;
    color: white !important;
}

/***BARS SECTION***/

.fade-me-in.htmx-added {
  opacity: 0;
}

.fade-me-out.htmx-swapping {
  opacity: 0;
  transition: opacity 2.8s ease-out;
}

.fade-me-in {
  opacity: 1;
  transition: opacity 3s;
}


.objectivity-bar {
    background-color: #951818;
}

.polarity-bar {
    background-color: #951818;
}

/***INPUT SECTION***/
.input-row {
    background-color: #951818;
    margin-top: 5rem;
    height: 25rem;
 }

.review-form {
    margin: auto;
}

.review-text:focus {
    outline: none !important;
    border:1px solid #951818;
    box-shadow: 0 0 10px white;
  }

/***BAR SECTION***/

.bar-section {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}



/*****RESPONSIVENESS*****/

/*1800*/

@media (max-width: 1800px) {
.welcome {
    position: absolute;
    top: 15%;
    left: 8%;
    font-size: 6rem;
}

/*990*/



@media (max-width: 990px) {
.welcome {
    position: absolute;
    top: 50%;
    left: 5%;
    font-size: 5rem;
}

video {
    object-position: 30% 20%;
    width: 100%;
    height: 50rem;
}

.text-field {
    margin-top: 2rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.painting-image {
    max-width: 70%;

}


}