<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% include "header.html" %}

<body>

<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-style">
    <div class="container-xl visible">
        <a class="navbar-brand menu-item title" href="{{url_for('home')}}">The Curator</a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#nav-bar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse visible" id="nav-bar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item menu-item">
                    <a class="nav-link" href="#about">About The Curator</a>
                </li>
                <li class="nav-item menu-item">
                    <a class="nav-link" href="#next-picture">See the Art</a>
                </li>
            </ul>

            <a href="https://www.facebook.com/sedlacek.radek/"><i class="navbar-icon bi bi-facebook"></i></a>
            <a href="https://github.com/sedlacekradek"><i class="navbar-icon bi bi-github"></i></a>
            <a href="mailto:sedlacek.radek@email.cz"><i class="navbar-icon bi bi-envelope-fill"></i></a>
        </div>
    </div>
</nav>

<div class="container-fluid main-container">

    <!-- video section -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 video-col">
            <video src="{{ url_for ('static', filename='video/greek.mp4') }}" autoplay muted playsinline loop></video>
            <div class="welcome">
                Discover<br>
                the world<br>
                of Art
            </div>
        </div>
    </div>

    <!-- about section -->
    <div class="row about-row" id="about">
        <h1>About The Curator</h1>
        <p>Welcome art lovers! The Curator is a web app that shows you paintings provided via the API of The
            Metropolitan Museum of Art. You can ask The Curator basic questions regarding the shown piece such as the
            name of the author,
            title or dimensions. Also, feel free to submit your reviews of the art, The Curator will be more than happy
            to read them and
            through automatic text recognition evaluate how much you like the art and how subjective your review seems
            to him.
            The reviews are not saved anywhere, so don't be shy and test it out 😉. For best results write more than a
            few words.</p>
    </div>

    <hr>

    <!-- picture section -->
    <section id="next-picture" class="fade-me-out">

        <div class="row picture-row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <a href="{{ picture_big }}"><img class="painting-image" src="{{ picture }}"></a><br>
                <button type="button" class="btn btn-outline-danger btn-lg next-button"
                        hx-get="/next"
                        hx-trigger="click"
                        hx-target="#next-picture"
                        hx-swap="outerHTML swap:2s">next
                </button>
            </div>
        </div>

        <hr>
        <br>

        <!-- progress bars -->
        <div id="bar-section">
            <h5>How subjective you are</h5>
            <div class="progress bar-section">
                <div class="progress-bar curator-bar" role="progressbar" style="width: {{ subjectivity }}%">{{
                    subjectivity }}%
                </div>
            </div>
            <h5>How much you like it</h5>
            <div class="progress bar-section">
                <div class="progress-bar curator-bar" role="progressbar" style="width: {{ polarity }}%">{{ polarity
                    }}%
                </div>
            </div>
        </div>

    </section>

    <!-- input section -->
    <div class="row input-row">
        <div class="review-form">
            <form id="review-form"
                  action="/evaluate"
                  method="post"
                  hx-boost="true"
                  hx-target="#bar-section"
                  class="form-inline">

                <textarea name="review-text" placeholder="What do you think about this piece?" rows="3"
                          style="height:100%;" class="form-control review-text" id="review"></textarea>
                <button id="my-btn" type="submit" class="btn btn-outline-light btn-lg">review</button>
            </form>

            <form id="question-form"
                  action="/reply"
                  method="post"
                  hx-boost="true"
                  hx-target="#question"
                  hx-swap="outerHTML"
                  class="form-inline">

                <textarea name="question-text" placeholder="Do you have any questions?" rows="3"
                          style="height:100%" class="form-control review-text" id="question"></textarea>
                <button id="my-btn2" type="submit" class="btn btn-outline-light btn-lg">&nbsp;&nbsp;&nbsp;ask&nbsp;&nbsp;&nbsp;</button>
            </form>


        </div>
    </div>

</div>

{% include "scripts.html" %}

</body>
</html>